APP_NAME=ShopEasy Backend
APP_ENV=development
API_V1_PREFIX=/api/v1
DATABASE_URL=postgresql+psycopg://LLM-project-shopeasy:LLm-260346@127.0.0.1:5433/shopeasy

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

MINIO_ENDPOINT=127.0.0.1:9000
MINIO_ACCESS_KEY=minio-root-user
MINIO_SECRET_KEY=minio-root-password
MINIO_BUCKET_NAME=evidence
MINIO_USE_SSL=False
